doctype html
head
  meta(charset='utf-8')
  link(type='text/css' rel='stylesheet' href='//unpkg.com/bootstrap/dist/css/bootstrap.min.css')
  link(type='text/css' rel='stylesheet' href='//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css')
body
  #app
  script(src='main.bundle.js')
