doctype html
head
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-116013986-1")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-116013986-1');

  meta(charset='utf-8')
  title taka-sho.info
  meta(name='viewport' content='width=device-width,initial-scale=1')
  link(type='text/css' rel='stylesheet' href='https://unpkg.com/bootstrap/dist/css/bootstrap.min.css')
  link(type='text/css' rel='stylesheet' href='https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css')
body
  #app
  script(src='./index.bundle.js')
